<footer class="text-center">
  <data href="{{ "/" | relative_url }}"></data>

  <div class="white-bg black">
    <div class="wrapper">
      <div class="col-1-of-3">
        <h4>dor.am</h4>
        <p>{{- site.description | escape -}}<br/><br/></p>
      </div>

      <div class="col-1-of-3">
        <h4>Navigation</h4>
        {% for page in site.pages %}
          {% if page.menu %}
          <a href="{{ page.permalink }}">{{ page.menu }}</a><br/>
          {% endif %}
        {% endfor %}
      </div>

      <div class="col-1-of-3">
        <h4>SOCIALS</h4>
        <!-- {% include social.html %} -->
        <a href="https://www.instagram.com/dor_olfactory/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="wrapper">
    <p><i>dor.am</i> <span class="lilac">&copy;</span> <i> {{ 'now' | date: "%Y" }} </i> <p>
  </div>
</footer>
